<li>
    <p>
<% if((locals.user && locals.user.id==cmnt.user.id) || (locals.user && locals.user.id== i.user.id)){%>
    <small><a href="/comments/destroy/<%= cmnt.id%>">X</a></small>
    <%}%>
    <%=cmnt.content%>
    <br>
    <small>
            <%=cmnt.user.name%>
    </small>
    <small>
        <% if (locals.user){ %>
            <a class="toggle-like-button" data-likes="<%= cmnt.likes.length %>" href="/likes/toggle/?id=<%=cmnt._id%>&type=Comment">
                    <%= cmnt.likes.length %> Likes
            </a>
        <% }else{ %>
            <%= cmnt.likes.length %> Likes
        <% } %>
    </small>
    </p>
</li>